h1 {
    color:black;
    font-size: 200%;
    text-shadow: white 0px 0px 10px;
}
body {
    color:black;
    text-align:center;
    text-shadow: white 0px 0px 10px;
    font-size:130%;
    background-image:url(Background.png.jpg);
    background-repeat:   no-repeat;
    background-size:     cover;  
    background-color: white;
    background-position: center center;
}
   
