h1 {
    color:black;
}
body {
    color:black;
    text-align:center;
    background-image:url(Background.png.jpg);
    background-repeat:   no-repeat;
    background-size:     cover;  
    background-color: black
}
   
