h1 {
    color:black;
}
body {
    color:black;
    text-align:center;
    background-image:url(https://github.com/SivkoII/Website2/blob/master/Background.png.jpg);
    background-repeat:   no-repeat;
    background-size:     cover;  
    background-position: center center;
    background-color: black
}
   
